:root {
  /* Reds */
  --red-1: #fff1f0; --red-2: #ffccc7; --red-3: #ffa39e; --red-4: #ff7875; --red-5: #ff4d4f;
  --red-6: #f5222d; --red-7: #cf1322; --red-8: #a8071a; --red-9: #820014; --red-10: #5c0011;

  /* Volcano */
  --volcano-1: #fff2e8; --volcano-2: #ffd8bf; --volcano-3: #ffbb96; --volcano-4: #ff9c6e;
  --volcano-5: #ff7a45; --volcano-6: #fa541c; --volcano-7: #d4380d; --volcano-8: #ad2102;
  --volcano-9: #871400; --volcano-10: #610b00;

  /* Orange */
  --orange-1: #fff7e6; --orange-2: #ffe7ba; --orange-3: #ffd591; --orange-4: #ffc069;
  --orange-5: #ffa940; --orange-6: #fa8c16; --orange-7: #d46b08; --orange-8: #ad4e00;
  --orange-9: #873800; --orange-10: #612500;

  /* Gold */
  --gold-1: #fffbe6; --gold-2: #fff1b8; --gold-3: #ffe58f; --gold-4: #ffd666; --gold-5: #ffc53d;
  --gold-6: #faad14; --gold-7: #d48806; --gold-8: #ad6800; --gold-9: #874d00; --gold-10: #613400;

  /* Yellow */
  --yellow-1: #feffe6; --yellow-2: #ffffb8; --yellow-3: #fffb8f; --yellow-4: #fff566;
  --yellow-5: #ffec3d; --yellow-6: #fadb14; --yellow-7: #d4b106; --yellow-8: #ad8b00;
  --yellow-9: #876800; --yellow-10: #614700;

  /* Lime */
  --lime-1: #fcffe6; --lime-2: #f4ffb8; --lime-3: #eaff8f; --lime-4: #d3f261;
  --lime-5: #bae637; --lime-6: #a0d911; --lime-7: #7cb305; --lime-8: #5b8c00;
  --lime-9: #3f6600; --lime-10: #254000;

  /* Green */
  --green-1: #f6ffed; --green-2: #d9f7be; --green-3: #b7eb8f; --green-4: #95de64;
  --green-5: #73d13d; --green-6: #52c41a; --green-7: #389e0d; --green-8: #237804;
  --green-9: #135200; --green-10: #092b00;

  /* Cyan */
  --cyan-1: #e6fffb; --cyan-2: #b5f5ec; --cyan-3: #87e8de; --cyan-4: #5cdbd3;
  --cyan-5: #36cfc9; --cyan-6: #13c2c2; --cyan-7: #08979c; --cyan-8: #006d75;
  --cyan-9: #00474f; --cyan-10: #002329;

  /* Blue */
  --blue-1: #e6f7ff; --blue-2: #bae7ff; --blue-3: #91d5ff; --blue-4: #69c0ff;
  --blue-5: #40a9ff; --blue-6: #1890ff; --blue-7: #096dd9; --blue-8: #0050b3;
  --blue-9: #003a8c; --blue-10: #002766;

  /* Geek Blue */
  --geekblue-1: #f0f5ff; --geekblue-2: #d6e4ff; --geekblue-3: #adc6ff; --geekblue-4: #85a5ff;
  --geekblue-5: #597ef7; --geekblue-6: #2f54eb; --geekblue-7: #1d39c4; --geekblue-8: #10239e;
  --geekblue-9: #061178; --geekblue-10: #030852;

  /* Purple */
  --purple-1: #f9f0ff; --purple-2: #efdbff; --purple-3: #d3adf7; --purple-4: #b37feb;
  --purple-5: #9254de; --purple-6: #722ed1; --purple-7: #531dab; --purple-8: #391085;
  --purple-9: #22075e; --purple-10: #120338;

  /* Magenta */
  --magenta-1: #fff0f6; --magenta-2: #ffd6e7; --magenta-3: #ffadd2; --magenta-4: #ff85c0;
  --magenta-5: #f759ab; --magenta-6: #eb2f96; --magenta-7: #c41d7f; --magenta-8: #9e1068;
  --magenta-9: #780650; --magenta-10: #520339;

  /* Neutral Grays */
  --gray-1: #ffffff; --gray-2: #fafafa; --gray-3: #f5f5f5; --gray-4: #f0f0f0; --gray-5: #d9d9d9;
  --gray-6: #bfbfbf; --gray-7: #8c8c8c; --gray-8: #595959; --gray-9: #434343; --gray-10: #262626;
  --gray-11: #1f1f1f; --gray-12: #141414; --gray-13: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Canrgb(197, 93, 93)", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./assets/images/bg-main.jpg');
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Paddings */
.p-sm {
  padding: 8px;
}
.p-m {
  padding: 16px;
}
.p-lg {
  padding: 24px;
}

.pt-sm {
  padding-top: 8px;
}
.pt-m {
  padding-top: 16px;
}
.pt-lg {
  padding-top: 24px;
}

.pe-sm {
  padding-right: 8px;
}
.pe-m {
  padding-right: 16px;
}
.pe-lg {
  padding-right: 24px;
}

.ps-sm {
  padding-left: 8px;
}
.ps-m {
  padding-left: 16px;
}
.ps-lg {
  padding-left: 24px;
}

.pb-sm {
  padding-bottom: 8px;
}
.pb-m {
  padding-bottom: 16px;
}
.pb-lg {
  padding-bottom: 24px;
}

/* Margins */
.m-sm {
  margin: 8px;
}
.m-m {
  margin: 16px;
}
.m-lg {
  margin: 24px;
}

.mt-sm {
  margin-top: 8px;
}
.mt-m {
  margin-top: 16px;
}
.mt-lg {
  margin-top: 24px;
}

.me-sm {
  margin-end: 8px;
}
.me-m {
  margin-end: 16px;
}
.me-lg {
  margin-end: 24px;
}

.ms-sm {
  margin-start: 8px;
}
.ms-m {
  margin-start: 16px;
}
.ms-lg {
  margin-start: 24px;
}

.mb-sm {
  margin-bottom: 8px;
}
.mb-m {
  margin-bottom: 16px;
}
.mb-lg {
  margin-bottom: 24px;
}


/* Display */
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

/* Typo */
.text-muted {
  color: var(--gray-7);
}
.text-white {
  color: #fff;
}

/* Animations */
@keyframes breathe {
  0%, 100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.08);
    opacity: 1;
  }
}
@keyframes fade-in-out {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}
.breathe {
  animation: breathe 2s infinite;
}

/* Quiz */
.quiz-component strong {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.quiz-component strong::before {
  content: '';
  position: absolute;
  z-index: -999;
  top: 0px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100%);
  background-color: var(--gold-2);
  border-radius: 4px;
  user-select: none;
  pointer-events: none;
  box-sizing: border-box;
}
.quiz-display strong::before {
  animation: fade-in-out 1s infinite;
}
.quiz-item-card {
  padding: 8px 16px;
  background-color: var(--gray-3);
  border-radius: 8px;
}
.quiz-item-card p {
  margin: 0;
}
.quiz-question {
  position: relative;
  background-color: var(--blue-1);
  color: var(--blue-8);
  font-size: 1.2em;
  font-weight: 500;
}
.preset-bundle {
  position: relative;
}
.preset-bundle::after {
  content: 'Mặc định';
  position: absolute;
  background-color: var(--red-2);
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--red-8);
  top: -8px;
  right: -8px;
  animation: breathe 2s infinite;
}
.quiz-item-card quiz-answer-edit quiz-answer:hover {
  background-color: #f0f0f0;
}
.quiz-answer.selected {
  background-color: var(--green-2);
}

/* Quill */
.ql-toolbar {
  display: none !important;
}
.ql-editor p {
  margin: 0;
}
.ql-editor ::selection {
  background-color: var(--gold-5);
}

/* Ant Design */
.ant-card {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.ant-collapse-item {
  background-color: var(--geekblue-6);
  border-radius: 8px !important;
}
.ant-collapse-header-text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.ant-collapse-expand-icon {
  color: #fff;
  transform: scale(1.4);
}